{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{% endblock %}
{% block title %}
    Reprezentacje
{% endblock %}
{% block content %}
    <p></p>
    <table class="table table-hover" style="background-color: #edeee4;">
        <thead>
            <tr style="background-color: #edeee4;">
                <th scope="col">ID</th>
                <th scope="col">Panstwo</th>
                <th scope="col">Grupa</th>
                <th scope="col">Konfederacja</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id_reprezentacja }}</td>
                    <td>{{ item.nazwa }}</td>
                    <td style="text-align: center;"><a href="{{ url_for('grupa_page', gr=item.grupa) }}" class="link-dark">{{ item.grupa }}</a></td>          
                    <td style="text-align: center;"><a href="{{ url_for('konfederacja_page', kf=item.konfederacja) }}" class="link-dark">{{ item.konfederacja }}</a></td>          
                    <td>
                        <a class="btn btn-outline" style="color: white;background-color: #761b34;" href="{{ url_for('reprezentacja_page', id_r=item.id_reprezentacja) }}" role="button">Więcej</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block actions %}
{% endblock %}